<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        cacheTokens="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="false">

    <testsuites>
        <testsuite name="DPRMC ClearStructure Sentry Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/html" lowUpperBound="35"
             highLowerBound="70"/>
    </logging>

    <php>
        <env name="UAT_LOCATION" value="http://asdf"/>
        <env name="USER" value="asdf"/>
        <env name="PASS" value="asdf"/>
        <env name="ACCOUNT" value="asdf"/>
        <env name="REPORT_NAME" value="asdf"/>
        <env name="DATA_CUBE_NAME" value='asdf'/>
    </php>
</phpunit>