UAT_LOCATION=your-companys-uat-web-services-url
USER=your-sentry-username
PASS=your-encrypted-sentry-password
ACCOUNT=an-account-id-from-your-sentry-system
REPORT_NAME="name-of-a-report-in-your-sentry-system"